/*Main styles*/
body {
	background-color: #ECF0F1;
}

.instructions-container {
	background-color: #fff;
}

.instructions-text {
	padding: 20px;
	text-align: center;
	word-wrap:break-word;
}

.settings {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 15px;
}

.settings form {
	padding: 10px;
}

.settings button {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.serif {
	font-family: Georgia, Times, "Times New Roman", serif;
}

#serif {
	position: relative;
	top: 1px;
}

.font-size-btns {
	display: inline-block;
}

.font-size-btns button {
	width: 50px;
}

.text-container {
	background-color: #fff;
	min-height: 800px;
	margin-bottom: 20px;
	padding: 20px;
}