/*Main styles*/
body {
	background-color: #ECF0F1;
}

.instructions-container {
	background-color: #fff;
}

.instructions-text {
	padding: 20px;
	text-align: center;
}

.settings {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.settings form {
	padding: 10px;
}

.settings button {
	margin-left: 10px;
}

.serif {
	font-family: Georgia, Times, "Times New Roman", serif;
}

#serif {
	position: relative;
	top: 1px;
}

.font-size-btn {
	width: 50px;
}

.hide-show-btn {
	margin-top: 10px;
	text-align: right;
}

.hide-show-btn a {
	display: inline-block;
}

.text-container {
	background-color: #fff;
	min-height: 800px;
	margin-bottom: 20px;
}

.text {
	padding: 20px;
}